<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalAPIServerPath" value="https://localhost:44300/" />
    <add key="RemoteAPIServerPath" value="https://oneserversite.azurewebsites.net/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>